## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

In [8]:
import pandas as pd

In [11]:
rating_csv = pd.read_csv('ratings.csv')
rating_csv.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
rating_csv = rating_csv.query('rating == 5')
rating_csv.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [23]:
rating_csv['movieId'].value_counts().sort_values(ascending=False).head()

318     153
296     123
356     116
2571    109
260     104
Name: movieId, dtype: int64

In [28]:
movie_max = movie_csv.query('movieId == 318')
movie_max

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

## Второй способ решения

In [26]:
movie_csv = pd.read_csv('movies.csv')
movie_csv.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [6]:
# сгруппировала в один файл по movieId
joined = rating_csv.merge(movie_csv, on= 'movieId', how= 'left')

In [7]:
# отсортировала по оценке 5
joined_5 = joined.query('rating == 5')

In [8]:
# отсортировала по названию фильма и подсчитала по строчно по группировке каждого фильма, отсортировала по убыванию.
joined_5['title'].value_counts().sort_values(ascending=False).head()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: title, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21 за период с 2005 по 2010 года.
Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power_coun = pd.read_csv('power.csv')
power_coun.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
power_coun = power_coun[(power_coun['country'] == 'Lithuania') | (power_coun['country'] == 'Latvia')| (power_coun['country'] == 'Estonia')  ]
power_coun = power_coun[power_coun['category'].isin([4,12,21])]
power_coun = power_coun.query('2004 < year < 2011')
power_coun = power_coun.query(' quantity > 0')
sum(power_coun['quantity'])

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [29]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,844726,-,827276,"2,11 %",17450,01.02.2020
1,NaN,EUR/RUB,709724,-,698230,"1,65 %",11494,01.02.2020
2,NaN,USD/RUB,639737,-,632136,"1,20 %",07601,01.02.2020
3,NaN,JPY/RUB,05905,-,05803,"1,75 %",00101,01.02.2020
4,NaN,CNY/RUB,92227,-,91129,"1,20 %",01098,01.02.2020
5,NaN,CHF/RUB,664192,-,652023,"1,87 %",12170,01.02.2020
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11097,-,11036,"0,56 %",00062,01.02.2020
8,NaN,EUR/GBP,08402,-,08431,"-0,34 %",-00029,01.02.2020
9,NaN,EUR/JPY,1202500,-,1202250,"0,02 %",00250,01.02.2020
10,NaN,EUR/CHF,10689,-,10699,"-0,09 %",-00010,01.02.2020
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,09012,-,09061,"-0,54 %",-00049,01.02.2020
13,NaN,USD/GBP,07574,-,07641,"-0,89 %",-00068,01.02.2020
14,NaN,USD/JPY,1083600,-,1089260,"-0,52 %",-05660,01.02.2020
15,NaN,USD/CHF,09634,-,09695,"-0,63 %",-00061,01.02.2020
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),08300,-,08300,"-0,01 %",00000,01.02.2020
18,NaN,JPY/GBP,00070,-,00070,"-0,35 %",00000,01.02.2020
19,NaN,JPY/USD,00092,-,00092,"0,54 %",00001,01.02.2020
20,NaN,JPY/CHF (100:1),08900,-,08900,"-0,12 %",00000,01.02.2020
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13206,-,13088,"0,90 %",00118,01.02.2020
23,NaN,GBP/JPY,1430574,-,1425502,"0,36 %",05073,01.02.2020
24,NaN,GBP/EUR,11904,-,11861,"0,36 %",00043,01.02.2020
25,NaN,GBP/CHF,12745,-,12687,"0,45 %",00058,01.02.2020
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12745,-,12687,"0,45 %",00058,01.02.2020
28,NaN,EUR/CHF,10689,-,10699,"-0,09 %",-00010,01.02.2020
29,NaN,JPY/CHF (100:1),08900,-,08900,"-0,12 %",00000,01.02.2020
30,NaN,USD/CHF,09634,-,09695,"-0,63 %",-00061,01.02.2020
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,275709,-,274218,"0,54 %",01491,01.02.2020
33,NaN,USD/UAH,248464,-,248464,"0,00 %",00000,01.02.2020
34,NaN,CHF/UAH,257957,-,256281,"0,65 %",01676,01.02.2020
35,NaN,GBP/UAH,328072,-,325165,"0,89 %",02907,01.02.2020

In [ ]:
# к сожалению в таком виде я так и не разобралась.  где найти 'class': 'line-content'?!? 
# И в инете не смогла найти информацию совсем для нулевых. Посоветуйте где можно почитать?!

df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', attrs = {'class': 'line-content'},encoding='utf-8' )